<div class="row">
    <div class="large-6 medium-4 small-12 large-centered medium-centered small-centered columns">
        <form name="tokenForm" novalidate data-ng-submit="submit()">
            <fieldset>
                <div class="row">
                    <div class="large-12 columns">
                        <h3 class="subheader">
                            Link with repository manager
                        </h3>
                        <p>Here we will explain why we need your private info</p>
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-4 columns">
                        <span class="prefix">
                            <select data-ng-model="token.provider" data-ng-options="option.id as option.label for option in options">
                            </select>
                        </span>
                    </div>
                    <div class="large-8 columns">
                        <input type="text" name="_token" data-ng-model="token.token" placeholder="API token" required />
                    </div>
                </div>

                <button class="button small right" type="submit" data-ng-disabled="tokenForm.$invalid || isSaving">
                    Add token
                </button>
                <button class="button small left" type="submit">
                    Skip to new board
                </button>
            </fieldset>
        </form>
    </div>
</div>
