<div class="row">
    <div class="large-6 medium-4 small-12 large-centered medium-centered small-centered columns">
        <form name="signupForm" novalidate data-ng-submit="signup()">
            <fieldset>
                <h3>
                    Signup
                </h3>
                <div class="row collapse">
                    <div class="large-12 columns">
                        <input placeholder="Login"
                               type="text"
                               data-ng-class="{ 'error' : signupForm.username.$invalid && !signupForm.username.$pristine}"
                               name="username" 
                               data-ng-model="user.username" 
                               required="required"/>
                        <small class="error" data-ng-show="signupForm.username.$invalid && !signupForm.username.$pristine">
                            Required
                        </small>
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-12 columns">
                        <input placeholder="E-mail"
                               type="email"
                               data-ng-class="{ 'error' : signupForm.email.$invalid && !signupForm.email.$pristine}"
                               name="email" 
                               data-ng-model="user.email" 
                               required="required"/>
                        <small class="error" data-ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">
                            Please type valid e-mail
                        </small>
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-12 columns">
                        <input placeholder="Password"
                               type="password"
                               data-ng-class="{ 'error' : signupForm.password.$invalid && !signupForm.password.$pristine}"
                               name="password" 
                               data-ng-model="user.password" 
                               required="required"/>
                        <small class="error" data-ng-show="signupForm.password.$invalid && !signupForm.password.$pristine">
                            Password required
                        </small>
                    </div>
                </div>

                <div class="row form-footer collapse">
                    <div class="large-12 columns">
                      <button class="buttom right large-12" data-ng-disabled="signupForm.$invalid || isSaving" type="submit">
                          Signup
                      </button>
                    </div>
                  </div>

            </fieldset>
        </form>
    </div>
</div>
