<div class="row">
    <div class="large-6 medium-4 small-12 large-centered medium-centered small-centered columns">
        <form name="signinForm" novalidate data-ng-submit="authenticate()">
            <fieldset>
                <h3>
                    Sign in
                </h3>

                <p>
                    Sign in with your Login and Password or <a data-ui-sref="signup()">Sign up</a>
                </p>

                <span class="error" data-ng-show="data.errors.length != 0" data-ng-repeat="error in data.errors">
                    {{error}}
                </span>

                <div class="row collapse">
                    <div class="large-12 columns">
                        <input type="text" name="_username" required="required" data-ng-model="data.signin.username"
                               placeholder="login"/>
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-12 columns">
                        <input type="password" name="_password" required="required" data-ng-model="data.signin.password"
                               placeholder="password"/>
                    </div>
                </div>
                <div class="row form-footer collapse">
                    <div class="large-12 columns">
                        <a class="gitlab-logo" title="auth with gitlab" data-ng-click="oauth()">
                            <img src="/images/gitlab-logo.png">
                        </a>

                        <button class="button small right" data-ng-disabled="signinForm.$invalid || data.isSaving" type="submit">
                            Sign in
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
