<div class="off-canvas-wrap" data-ng-cloak>
    <div class="inner-wrap">
        <div data-ui-view="top-bar"></div>
        <div data-ui-view="content"></div>
        <div data-ui-view="modal"></div>
    </div>
</div>
