<section id="main-section" class="board-view noselect">
    <div class="row board">

        <div class="large-2 medium-4 small-12 columns stage" data-ng-repeat="stage in board.stages | orderBy:'priority'">
            <div class="row collapse">
                <div class="large-12 columns">
                    <div class="panel column-header" style="z-index: 10;">
                        <h4>
                            {{stage.title}}
                        </h4>
                    </div>
                </div>
            </div>


            <div data-as-sortable="dragControlListeners" data-ng-model="stage.cards" style="min-height: 1000px" class="board-stage">
                <div class="row collapse card" data-ng-repeat="card in stage.cards" data-as-sortable-item>

                    <div data-as-sortable-item-handle class="row collapse" style="padding: 10px">
                        <div class="large-10 medium-10 small-10 columns">
                            <h6>
                                <a data-ui-sref="board.cards.view({project_id: card.project_id, issue_id: card.id})"
                                   data-no-drag>
                                    <b>Issue #{{card.iid}}</b>
                                </a>
                            </h6>
                            <h6>
                                {{card.title}}
                            </h6>
                            <div class="row collapse">
                                <span class="label" data-ng-repeat="label in card.viewLabels" style="background-color: {{label.color}}">
                                    {{label.name}}
                                </span>
                            </div>
                        </div>

                        <div class="large-2 medium-2 small-2 columns" data-ng-show="card.assignee != undefined">
                            <span class="right" data-ng-show="card.assignee.avatar_url != undefined">
                                <img style="border-radius: 50%; width: 32px;" alt="{{card.assignee.name}}" data-ng-src="{{card.assignee.avatar_url}}"/>&nbsp;
                            </span>
                            <span class="right avatar" data-ng-show="card.assignee.avatar_url == undefined">
                                <span class="pseudo-avatar {{  card.assignee.username  | lowercase| limitTo : 1}}-ava">
                                    {{ card.assignee.username| lowercase| limitTo : 1}}
                                </span>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
